.profile_picture {
    height: 250px;
    margin-right: 15px;
}

.aboutmeheader {
    margin-top: 15px;
    border-bottom: black solid 3px;
}

.aboutmesection {
    margin-top: 15px;
    border-bottom: black solid 3px;
    padding-bottom: 15px;
}